release.in/etc/analyseStream.conf
autom4te.cache/
/Makefile*
/aclocal.m4
/autom4te.cache/
/config.*
/configure
/m4/
/stamp-h?
.deps/
.dirstamp
*.o
*~
/bootstrap
/depcomp
/INSTALL
/install-sh
/missing
/README
/release/bin/*.py
/src/Makefile
/src/Makefile.in
/src/radiator
/release/etc/init.d/*.sh
/release/scripts/*.sh
/release/etc/*.conf
/.idea